.DS_Store
/.build
/dist
Assets/AppIcon/SorryBuddy.iconset/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.password.txt
*.sha256
